$instagram-red: #F52830;
$instagram-gradient-pink: #D02D87;
$instagram-gradient-orange: #FAA257;
$instagram-blue: #0095F6;
$instagram-bg: #FAFAFA;
$instagram-text-primary: #262626;
//secondary is lightgrey from css
$instagram-link: #003782;
