@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$instagram-red: #f52830;
$instagram-gradient-pink: #d02d87;
$instagram-gradient-orange: #faa257;
$instagram-blue: #0095f6;
$instagram-bg: #fafafa;
$instagram-text-primary: #262626;
//secondary is lightgrey from css
$instagram-link: #003782;
$instagram-generic-font: "Roboto", sans-serif;
$instagram-text-messages-color: #8e8e8e;
$instagram-color-black: #262626;
