@import "./Variables.scss";


.circle-sm {
    //navbar pic
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3.5px;
    box-shadow: 0 0 0 1px lightgray;
}

.story-sm {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    z-index: -1;
    background: rgb(208, 45, 135);
    background: linear-gradient(233deg, rgba(208, 45, 135, 1) 0%, rgba(250, 162, 87, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.circle-md {
    //stories, highlights and suggestion
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    box-shadow: 0 0 0 2px lightgray;
}
.story-md {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: -1;
    background: rgb(208, 45, 135);
    background: linear-gradient(233deg, rgba(208, 45, 135, 1) 0%, rgba(250, 162, 87, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-lg {
    //main pp
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    box-shadow: 0 0 0 2px lightgray;
}

.story-lg {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    z-index: -1;
    background: rgb(208, 45, 135);
    background: linear-gradient(233deg, rgba(208, 45, 135, 1) 0%, rgba(250, 162, 87, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}