@import "../../Styling/Variables";

@use "../../Styling/Shapes" as shapes;

.Sidebar__cointainer {
  width: 250px;

  .Sidebar__header {
    .Sidebar__header__avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      object-fit: cover;
    }

    .Sidebar__header__username {
      font-size: 14px;
    }

    .Sidebar__header__description {
      font-size: 14px;
    }

    .Sidebar__header__button {
      color: $instagram-blue;
      font-size: 12px;
      font-weight: 700;
      width: 32px;
      height: 32px;
      border: none;
      background-color: transparent !important;
    }
  }

  .Sidebar__suggestion {
    .Sidebar__suggestion__title {
      font-size: 14px;
    }

    .Sidebar__suggestion__avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .Sidebar__suggestion__content {
      .Sidebar__suggestion__username {
        word-break: break-all;
        color: $instagram-text-primary;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .Sidebar__suggestion__description {
        font-size: 12px;
      }
    }

    .Sidebar__suggestion__Suggestbutton {
      color: $instagram-text-primary !important;
    }
    .Sidebar__suggestion__button {
      color: $instagram-blue;
      font-size: 12px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      background-color: transparent !important;
    }
  }

  .Sidebar__modal {
    border-radius: 18px;
    border: 1px solid lightgrey;
    width: 500px;
    height: 500px;
    position: absolute;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);

    .Sidebar__modal__avatar {
      border: 1px solid lightgrey;
      margin: 20px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
  }
}
