
.dropdown-wrap {
    display: flex;
    flex-direction: column;
    .dropdown-content-show {
        display: none;
        width: 400px;
        height: 100px;
    }
    #notifications:checked {
        display: none;
    }
    
}
