@import "./Styling/Variables";

.App {
  background-color: $instagram-bg;
  min-height: 100vh;
}
.arrow-icon {
  transform: rotate(180deg);
}
// .dropdown-wrap {
//   .dropdown-content-search {
//     .dropdown-wrap .dropdown-content-search {
//       width: 300px;
//       .user-row {
//         padding: 0;
//       }
//     }
//   }
// }
